.buttons {
  margin-inline-start: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-end: 8px;
}

.buttons>button {
  -webkit-tap-highlight-color: transparent;
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 4px 6px;
  padding-top: 6px;
}

.buttons > button:last-child {
  margin-inline-start: 0;
}

.buttons > button:last-child > svg {
  transform: scaleY(-1);
}

.buttons>button>svg {
  width: 10px;
}